<p>{{quote.description}}</p>
<p>This quote was posted on {{quote.completeDate|dateCount}} days</p>

<button (click)='voteUp()' class="btn btn-success" type="submit">
    <span class="glyphicon glyphicon-thumbs-u" aria-hidden="true"></span>
    <span class="badge">{{upvote}} upvotes</span>
</button>

<button  (click)='voteDown()' class="btn btn-primary" type="submit">

    <span class="badge">{{downvote}}Downvotes</span>
</button>


<button (click) = 'quoteDelete(true)'class="btn-delete" class="btn btn-danger btn-sm" >Delete Quote</button>
