<p>{{quote.description}}</p>
<p>This quote was posted on{{quote.completeDate}} </p>

<div class="vote roundrect">
  <div class="increment up"></div>
  <div class="increment down"></div>

  <div class="count">4</div>
</div>

<div class="vote chev">
  <div class="increment up"></div>
  <div class="increment down"></div>

  <div class="count">0</div>
</div>

<div class="vote circle">
  <div class="increment up"></div>
  <div class="increment down"></div>

  <div class="count">8</div>
</div>
<button (click) = 'quoteDelete(true)'>Delete Quote</button>
